<DOCTYPE! html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
    </head>
    <body>
    	<h1>Day of the Week</h1>
        <p>{{ answer }}</p>
	</body>
</html>