<DOCTYPE! html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
    </head>
    <body>
    	<h1>Enter a date</h1>
    	<p> Enter a date below and submit and we will find the day of the week. </p>
    	<form action="" method="POST">
            <select name="month" >
            	{% for m in month %}
                	<option value="{{ m }}">{{ m }}</option>
                {% endfor %}
            </select>

            <select name="day" >
                {% for d in day %}
                	<option value="{{ d }}">{{ d }}</option>
                {% endfor %}
            </select>
   
            <select name="year" >
                {% for y in year %}
                	<option value="{{ y }}">{{ y }}</option>
                {% endfor %}
            </select>
            <input type="submit"/>
        </form>
	</body>
</html>